# Python environments
.venv/
venv/
.env

# Python cache
__pycache__/
*.py[cod]
.pytest_cache/
.coverage
htmlcov/

# IDE settings
.vscode/
.idea/

# OS junk
.DS_Store
Thumbs.db

# Logs
*.log
logs/

# Database dumps/backups
*.sql~
*.dump
DB/chroma_store/
GCB/
src/models/GCB_description/

# JavaScript dependencies
node_modules/

# Misc data artifacts
/Data
/Data/HTMLData
src/datapipeline/Data/
.cache
/src/models/GCB
/src/models/secrets
.claude/
/src/deployment/secrets
/src/deployment/secrets/deployment.json
/src/deployment/secrets/gcp_service.json
/src/deployment/secrets/ssh-key-deployment
/src/deployment/secrets/ssh-key-deployment.pub

