# Virtual environment
.venv/
venv/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# VSCode / IDE settings
.vscode/
.idea/

# OS junk
.DS_Store
Thumbs.db

# Logs
*.log

# PostgreSQL dumps/backups
*.sql~
*.dump
